@import "tailwindcss";


@theme  {
    --color-secondary-50: #f5f7f9;
    --color-secondary-100: #e9ebf0;
    --color-secondary-200: #d8dde5;
    --color-secondary-300: #bfc7d3;
    --color-secondary-400: #9ea9bc;
    --color-secondary-500: #8791aa;
    --color-secondary-600: #757e9b;
    --color-secondary-700: #696f8c;
    --color-secondary-800: #595d74;
    --color-secondary-900: #4a4e5e;
    --color-secondary-950: #30313b; 
}
html {
    scroll-behavior: smooth;
    color: #1e1a4d ;
}

body {
    background-color: #F2F2F2;
    font-size: small;
}